.open{
     /* transform: translateY(0%); */
     opacity: 1;
     transition: all .5s;
    
     /* display: block; */
}

.close{
    
     opacity: 0;
     transform: translateY(-100%);
     transition: all .5s ;
     /* display: none; */
}
